/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #001624;
	--color-background: #f2f2f2;
	--headercolor: #94AEC6;
	--footercolor: #94AEC6;
	--filmposter: #94AEC6;
	--border: #60788f80;
	--underline: rgb(0, 0, 0);
	--h1link: #000000;
}

/* dark mode kleuren */
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #ccdbe6;
		--color-background: #1c2329;
		--headercolor: #14181c;
		--footercolor: #2C3440;
		--filmposter: #445566;
		--border: #bababa80;
		--underline: #909ca4;
		--h1link: #ffffff;
	}
}

@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-Light-Web.woff);
	font-weight: 300;
}

@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-Regular-Web.woff);
	font-weight: 400;
}

@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-Semibold-Web.woff);
	font-weight: 600;
}

@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-SemiboldItalic-Web.woff) format("woff");
	font-weight: 600;
	font-style: italic;
}


/****************/
/* JOUW STYLING */
/****************/

body {
	font-family: graphik, sans-serif;
	background-color: var(--color-background);
	color: var(--color-text);
	letter-spacing: .04em;
}

svg {

	width: 1.5em;
	fill: var(--color-text);
}

/* ========================== main ========================== */
main {
	margin: 0 .8em;
}

a {
	color: var(--color-text);
}

@media (min-width: 1200px) {
	main {
		margin: 0 8em;
	}
}

section>a {
	text-transform: uppercase;
	font-size: 0.8em;
}

h2 {
	display: block;
	height: 100%;
	margin: 0.5rem 0;
	font-size: 0.8em;
	text-transform: uppercase;
	border-bottom: 1px solid var(--underline);
	padding-bottom: 0.5em;
}

main img {
	width: 100%;
	display: block;
	border-radius: 0.3em;
	border: var(--border) 0.07em solid;
}


section a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--color-text);
}

main ul {
	list-style: none;
	display: flex;
	gap: 0.5em;
}

section {
	margin: 0 0 2em 0;
}


/* ========================== ratings meter ========================== */
/* bron: https://www.svgbackgrounds.com/tools/svg-to-css/ gebruikt om de svg naar url te maken */
/* zwart voor light mode */
meter {
	margin: 0.2em;
	width: 5em;
	height: 1em;

	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M14.015 30.65L20 26.85L25.985 30.7L24.4175 23.5L29.69 18.7L22.755 18.05L20 11.25L17.245 18L10.31 18.65L15.5825 23.5L14.015 30.65ZM8.2675 39L11.355 24.95L1 15.5L14.68 14.25L20 1L25.32 14.25L39 15.5L28.645 24.95L31.7325 39L20 31.55L8.2675 39Z" /></svg>');
	background-size: 1em 1em;
}

*::-moz-meter-bar,
meter::-webkit-meter-bar {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M8.2675 39L11.355 24.95L1 15.5L14.68 14.25L20 1L25.32 14.25L39 15.5L28.645 24.95L31.7325 39L20 31.55L8.2675 39Z" /></svg>');
	background-size: 1em 1em;
}

/* #ACBDC8" voor dark mode */
@media (prefers-color-scheme: dark) {
	meter {
		margin: 0.2em;
		width: 5em;
		height: 1em;

		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M14.015 30.65L20 26.85L25.985 30.7L24.4175 23.5L29.69 18.7L22.755 18.05L20 11.25L17.245 18L10.31 18.65L15.5825 23.5L14.015 30.65ZM8.2675 39L11.355 24.95L1 15.5L14.68 14.25L20 1L25.32 14.25L39 15.5L28.645 24.95L31.7325 39L20 31.55L8.2675 39Z" fill="%23ACBDC8"/></svg>');
		background-size: 1em 1em;
	}

	*::-moz-meter-bar,
	meter::-webkit-meter-bar {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M8.2675 39L11.355 24.95L1 15.5L14.68 14.25L20 1L25.32 14.25L39 15.5L28.645 24.95L31.7325 39L20 31.55L8.2675 39Z" fill="%23ACBDC8"/></svg>');
		background-size: 1em 1em;
	}
}

/* ========================== header ========================== */
header {
	height: 3em;
	display: flex;
	background-color: var(--headercolor);
	margin-bottom: 1em;
	align-items: center;
	justify-content: space-between;
}

header ul {
	list-style: none;
}


header>a>img {
	width: 12em;
	display: flex;
	justify-content: left;
}

header img {
	border: 0;
	border-radius: 0;
}

/* buttons */
header>ul {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0;
	margin-right: 2em;
}

header button img {
	width: 1.8em;
}

button svg {
	fill: var(--color-text);
	width: 2em;
}

header button {
	background: none;
	border: 0;
	padding: 1em 0.5em;
}

/* ========================== add film knop ========================== */
header>ul li>section {
	background-color: var(--headercolor);
	padding: 2em;
	position: absolute;
	left: 0;
	right: 0;
	top: 3em;
	translate: -200% -200%;
}

header>ul li>section.showAdd {
	translate: 0% 0%;
}

/* ========================== hamburger menu knop ========================== */
/* hamburger menu wisselen voor kruisje */
/* bron: https://codepen.io/shooft/pen/JjQLVeB */
header li:nth-of-type(2) button[aria-expanded="true"] svg {
	content: url("https://assets.codepen.io/274456/ui-icon-cross.svg");
}

header nav {
	background-color: var(--headercolor);
	position: absolute;
	top: 3em;
	left: 0em;
	right: 0;
	padding: 0.5em 2em;
	box-shadow: 0px 1em 2em var(--headercolor);
	translate: -200% -200%;
}

header nav.showMenu {
	translate: 0% 0%;
}

/* ========================== nav ========================== */
header nav a {
	display: flex;
	align-items: center;
	gap:0.5em;
	text-transform: uppercase;
	text-decoration: none;
}

header nav a img {
	height: 2em;
	border-radius: 50%;
}

/* grid voor de nav */
header nav>ul>li>ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: start;
	align-items: start;
	gap: 0.5em;
	margin: 2em 0;
}

/* laatste ul */
header nav>ul>li:last-child ul {
	display: flex;
	flex-direction: column;
}

/* ========================== zoek knop ========================== */
header>ul>li:nth-of-type(3) ul {
	background-color: var(--headercolor);
	position: absolute;
	top: 3em;
	left: 0;
	right: 0;
	translate: -200% -200%;
}

header>ul>li:nth-of-type(3) ul.zoekShow {
	translate: 0% 0%;
}

/* ========================== footer ========================== */
footer {
	background-color: var(--footercolor);
	padding: 1.5em 0;
	text-align: center;
}

footer ul {
	margin-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	list-style: none;
	font-weight: bolder;
	justify-content: center;
}

footer a {
	text-decoration: none;
	color: var(--color-text)
}

footer ul:last-of-type {
	margin-top: 1em;
}