/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	color-scheme: light dark;

	--color-text: light-dark(#3c3c3c, #ccdbe6);
	--color-background: light-dark(#ccdbe6, #1c2329);

	--headercolor: #14181c;
	--header-text: #ccdbe6;

	--nav-text: #ccdbe6;

	--alink: light-dark(#000000, #ffffff);

	--input: #000000;

	--h1link: light-dark(#000000, #ffffff);
	--h4: light-dark(#000, #fff);

	--footer-text-color: #ccdbe6;
	--footercolor: #2C3440;

	--button: #445566;

	--background: light-dark(#ffffff8e, #445566);
	--border: light-dark(#545e6480, #bababa80);
	--underline: light-dark(#545e64, #909ca4);

	/* focus kleur nog bveranderen!!!@!@!@!!@!!!! */
	--focuscolor: light-dark(#40BCF4, #40BCF4);

	--background-selection: light-dark(#1b4a65d5, #ffffff90);
	--color-selection: light-dark(#ffffff, #000000);

	--dialog: #1c2329;
	--dialog-text: #ccdbe6;

	--header-height: 3em;
}

@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-Light-Web.woff);
	font-weight: 300;
}

@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-Regular-Web.woff);
	font-weight: 400;
}

@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-Semibold-Web.woff);
	font-weight: 600;
}

@font-face {
	font-family: tiempos;
	src: url(../fonts/Graphik-SemiboldItalic-Web.woff) format("woff");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: tiempos;
	src: url(../fonts/TiemposTextWeb-Regular.woff2);
	font-weight: 200;
}

@font-face {
	font-family: tiempos;
	src: url(../fonts/TiemposTextWeb-Semibold.woff2);
	font-weight: 600;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/****************/
/* JOUW STYLING */
/****************/

body {
	font-family: graphik, sans-serif;
	background-color: var(--color-background);
	color: var(--color-text);
	letter-spacing: .04em;
}

/* ========================== header ========================== */
header {
	height: var(--header-height);
	display: flex;
	color: var(--header-text);
	background-color: var(--headercolor);
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

/* skiplink */
header>a:nth-of-type(2) {
	position: absolute;
	color: #ffffff;
	padding: 0.5em;
	border: none;
	height: auto;
	left: -9999em;
	overflow: hidden;
	outline: none;
	outline: none;
	background-color: var(--headercolor);
}

header>a:nth-of-type(2):focus {
	left: 0;
}

header ul {
	list-style: none;
}

header>a>img {
	width: 12em;
	display: flex;
	justify-content: left;
}

header img {
	border: 0;
	border-radius: 0;
}

header>ul {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	margin-right: 1.5em;
}

header button img {
	width: 1.8em;
}

header button svg {
	fill: var(--header-text);
	width: 1.5em;
}

header button {
	background: none;
	border: 0;
	padding: 0.5em;
}

header nav>ul>li:not(:first-child),
header nav>ul>li:last-child>ul>li:not(:first-child) {
	border-top: solid;
	border-width: 0.1em;
	border-color: var(--header-text);
}


header nav>ul>li,
header nav>ul>li:last-child>ul>li {
	width: 100%;
}

/* ========================== header input states ========================== */
header>ul li>section input:hover,
header>ul>li:nth-of-type(3) ul input:hover {
	color: var(--input);
	background-color: #ffffff;
}

header>ul li>section input:focus,
header>ul>li:nth-of-type(3) ul input:focus {
	background-color: #ffffff;
}

/* ========================== add film knop ========================== */
header>ul li>section {
	background-color: var(--headercolor);
	padding: 2em;
	position: absolute;
	left: 0;
	right: 0;
	top: 3em;
	translate: -200% -200%;
}

header>ul li>section.showAdd {
	translate: 0% 0%;
}

header>ul li>section form {
	margin-top: 1em;
}

header>ul li>section input,
header>ul>li:nth-of-type(3) ul input {
	margin-top: 1em;
	width: 100%;
	height: 3em;
	font-size: inherit;
	padding: 1em;
	border-radius: 0.4em;
	background-color: var(--header-text);
	color: #000;
}

header>ul li>section h2 {
	font-size: 1em;
}

/* ========================== nav ========================== */
header nav {
	padding: 1em;
	z-index: 2;
}

header nav a {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin: 0.75em 0;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--nav-text);
}

header svg {
	fill: var(--nav-text);
}

header nav a img {
	height: 2em;
	border-radius: 50%;
}

/* grid voor de nav */
header nav>ul>li>ul {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-items: start;
	align-items: start;
}

@media (min-width: 360px) {
	header nav>ul>li>ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* laatste ul */
header nav>ul>li:last-child ul {
	display: flex;
	flex-direction: column;
	font-weight: 700;
}

nav a:hover {
	color: var(--alink);
}

/* ========================== hamburger menu knop ========================== */
/* hamburger menu wisselen voor kruisje */
/* bron: https://codepen.io/shooft/pen/JjQLVeB */
nav.showMenu button svg {
	content: url("data:image/svg+xml,%3Csvg%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M37%207.20158L32.7984%203L20%2015.7984L7.20158%203L3%207.20158L15.7984%2020L3%2032.7984L7.20158%2037L20%2024.2016L32.7984%2037L37%2032.7984L24.2016%2020L37%207.20158Z%22%20fill%3D%22%23CCDBE6%22%2F%3E%3C%2Fsvg%3E");
}


header nav {
	background-color: var(--headercolor);
	position: absolute;
	top: 3em;
	left: 0em;
	right: 0;
	padding: 0.5em 2em;
	box-shadow: 0px 1em 2em var(--headercolor);
	translate: -100% 0;
}

header nav.showMenu,
header nav:focus-within {
	translate: 0% 0%;
}

/* ========================== zoek knop ========================== */
header>ul>li:nth-of-type(3) ul {
	background-color: var(--headercolor);
	padding: 2em;
	position: absolute;
	top: 3em;
	left: 0;
	right: 0;
	translate: -200% -200%;
}

header>ul>li:nth-of-type(3) ul.zoekShow {
	translate: 0% 0%;
}

/* ========================== main ========================== */
section:not(header section) {
	margin: 0 .8em;
}

main a {
	color: var(--color-text);
}

@media (min-width: 1200px) {
	section:not(header section) {
		margin: 0 8em;
	}
}

@media (min-width: 1440px) {
	section:not(header section) {
		margin: 0 20em;
	}
}

section>a {
	text-transform: uppercase;
	font-size: 0.8em;
}

h1 a {
	color: var(--h1link);
	text-decoration-color: var(--color-text);
}

h2 {
	display: block;
	height: 100%;
	padding: 0.5rem 0;
	font-size: 0.8em;
	text-transform: uppercase;
	border-bottom: 1px solid var(--underline);
	margin-bottom: 0.5em;
	font-weight: 500;
}

h4 {
	color: var(--h4);
}

main img {
	width: 100%;
	display: block;
	border-radius: 0.3em;
	border: var(--border) 0.07em solid;
}

section {
	padding: 0 0 2em 0;
}

section a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--color-text);
}

main ul {
	list-style: none;
	display: flex;
	gap: 0.5em;
}

svg {
	width: 1.5em;
	fill: var(--color-text);
}

a:active,
main section:nth-of-type(4) button:active {
	color: var(--alink);
}

a:active svg,
main section:nth-of-type(4) button:active svg {
	fill: var(--alink);
}

/* ========================== ratings meter ========================== */
/* bron: https://www.svgbackgrounds.com/tools/svg-to-css/ gebruikt om de svg naar url te maken */
/* zwart voor light mode */
meter {
	margin: 0.2em;
	width: 5em;
	height: 1em;

	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M14.015 30.65L20 26.85L25.985 30.7L24.4175 23.5L29.69 18.7L22.755 18.05L20 11.25L17.245 18L10.31 18.65L15.5825 23.5L14.015 30.65ZM8.2675 39L11.355 24.95L1 15.5L14.68 14.25L20 1L25.32 14.25L39 15.5L28.645 24.95L31.7325 39L20 31.55L8.2675 39Z" /></svg>');
	background-size: 1em 1em;
}

*::-moz-meter-bar,
*::-webkit-meter-bar {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M8.2675 39L11.355 24.95L1 15.5L14.68 14.25L20 1L25.32 14.25L39 15.5L28.645 24.95L31.7325 39L20 31.55L8.2675 39Z" /></svg>');
	background-size: 1em 1em;
}

/* #ACBDC8 voor dark mode */
@media (prefers-color-scheme: dark) {
	meter {
		margin: 0.2em;
		width: 5em;
		height: 1em;

		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M14.015 30.65L20 26.85L25.985 30.7L24.4175 23.5L29.69 18.7L22.755 18.05L20 11.25L17.245 18L10.31 18.65L15.5825 23.5L14.015 30.65ZM8.2675 39L11.355 24.95L1 15.5L14.68 14.25L20 1L25.32 14.25L39 15.5L28.645 24.95L31.7325 39L20 31.55L8.2675 39Z" fill="%23ACBDC880"/></svg>');
		background-size: 1em 1em;
	}

	*::-moz-meter-bar,
	meter::-webkit-meter-bar {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M8.2675 39L11.355 24.95L1 15.5L14.68 14.25L20 1L25.32 14.25L39 15.5L28.645 24.95L31.7325 39L20 31.55L8.2675 39Z" fill="%23ACBDC8"/></svg>');
		background-size: 1em 1em;
	}
}

/* ========================== footer ========================== */
footer {
	background-color: var(--footercolor);
	color: var(--footer-text-color);
	padding: 1.5em 0.5em;
	text-align: center;
}

footer ul {
	margin-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	list-style: none;
	font-weight: bolder;
	justify-content: center;
}

footer a {
	text-decoration: none;
	color: var(--footer-text-color);
}

footer svg {
	fill: var(--footer-text-color);
}


footer ul:last-of-type {
	margin-top: 1em;
}

/* ========================== states ========================== */
button {
	background: var(--background);
	color: var(--header-text);
	appearance: none;
	font-size: inherit;
	cursor: pointer;
}

button:hover,
button:focus-visible {
	appearance: none;
	translate: 0 -0.2em;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
header a:nth-of-type(1):focus {
	outline-color: var(--focuscolor);
	outline-offset: 0.1em;
	outline-style: dotted;
	outline-width: 0.2em;
}


button:active {
	background-color: iver;
}

a:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: color-mix(in srgb, var(--color-text) 50%, transparent);
}

/* a:active {

} */


/* ========================== selection ========================== */
::selection {
	color: var(--color-selection);
	background-color: var(--background-selection);
}