main h1 {
    font-size: 1.4em;
    padding: 1em 0;
    text-align: center;
    font-weight: 100;
}

/* ========================== 6 posters ========================== */
/* bron: https://stackoverflow.com/questions/71281559/flexbox-directions-and-multiple-images-within */
main section:nth-of-type(1) ul,
main section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 120px) {
    main section:nth-of-type(1) ul,
    main section:nth-of-type(2) ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 360px) {
    main section:nth-of-type(1) ul,
    main section:nth-of-type(2) ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 960px) {
    main section:nth-of-type(1) ul,
    main section:nth-of-type(2) ul {
        grid-template-columns: repeat(6, 1fr);
    }
}

main section:nth-of-type(1) li img:first-of-type:not(p img) {
    border-radius: 0.3em 0.3em 0 0;
}

main section:nth-of-type(1) ul li p {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    padding: 0.3em;
    gap: 0.5em;
}

p img {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    display: flex;
}

main section li>a {
    display: block;
    background-color: var(--filmposter);
    border-radius: 0.3em 0.3em;
    border: var(--border) 0.01em solid;
}

/* visually hidden hiervan maken ipv van dit? */
main section ul h3 {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
