/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #ACBDC8;
	--color-background: #1c2329;
	--headercolor: #14181c;
	--footercolor: #2C3440;
	--filmposter: #445566;
}

@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-Light-Web.woff);
}

/****************/
/* JOUW STYLING */
/****************/

body {
	font-family: graphik, sans-serif;
	background-color: #1c2329;
	color: var(--color-text);
	letter-spacing: .04em;
}

.filmpagina h1 {
	color: #fff;
}

.

header {
	background-color: var(--headercolor);
	color: #fff;
	margin-bottom: 1em;
}



.logo {
	width: 12em;
	display: flex;
	justify-content: left;
}

main {
	margin: .8em;
}

main h1 {
	font-size: 1.4em;
	margin: 0 0 1rem;
	text-align: center;
	font-weight: 300;
}

h1 a {
	color: #fff;
	text-decoration-color: #ACBDC8;
}

h2 {
	display: block;
	width: 100%;
	margin: 0.5rem 0;
	font-size: 0.8em;
	text-transform: uppercase;
	border-bottom: 1px solid #456;
	padding-bottom: .2em;
}

img {
	display: block;
	height: 100%;
	width: 100%;
}

.activity img {
 border-radius: 50%;
}

/* bron: https://stackoverflow.com/questions/71281559/flexbox-directions-and-multiple-images-within */
.posters {
	display: grid;
	grid-template-columns: auto auto auto;
	margin-bottom: 0.4em;
}

@media (min-width: 1200px) {
	.posters {
		grid-template-columns: repeat(6, 1fr);
	}
}

.posters p {
	font-size: 1.3em;
}

img.profile {
	width: 1.4em;
	border-radius: 50%;
	border: none;
}

section a {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-text);
}

main ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 0.4em;
}

.posters li div {
	background: var(--filmposter);
	padding: 0.4rem 0.3rem;
	border-radius: 0px 0px 6px 6px;
}

main img {
	border-radius: .3em;
}

main li span {
	margin-left: 0.2em;
	display: flex;
	align-items: center;
}

main>section {
	margin-bottom: 2.5rem;
}

section {
	margin: 0 0 2em 0;
}

footer {
	background-color: var(--footercolor);
	padding: 1.5em 0;
}

div {
	display: flex;
}

section img:first-of-type {
	height: fit-content;
}