/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #ACBDC8;
	--color-background: #1c2329;
	--headercolor: #14181c;
	--footercolor: #2C3440;
	--filmposter: #445566;
	--border: #bababa;
}

@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-Light-Web.woff);
	font-weight: 100;
}

@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-Regular-Web.woff);
	font-weight: 700;
}

/****************/
/* JOUW STYLING */
/****************/

body {
	font-family: graphik, sans-serif;
	background-color: #1c2329;
	color: var(--color-text);
	letter-spacing: .04em;
}


/* ========================== main ========================== */
main {
	margin: 0 .8em;
}

@media (min-width: 1200px) {
	main {
		margin: 0 8em;
	}
}

h2 {
	display: block;
	height: 100%;
	margin: 0.5rem 0;
	font-size: 0.8em;
	text-transform: uppercase;
	border-bottom: 1px solid #456;
	padding-bottom: 0.5em;
}

main img {
	width: 100%;
	display: block;
	border-radius: 0.3em;
	border: var(--border) 0.07em solid;
}

a {
	text-decoration: none;
	color: var(--color-text);
}



section a {
	text-decoration: none;
	color: var(--color-text);
}

main ul {
	list-style: none;
	display: flex;
	gap: 0.5em;
}

section {
	margin: 0 0 2em 0;
}

/* bron: https://www.youtube.com/watch?v=qyQm8YeGMJQ */
.posterlist li:not(:first-child) {
	margin-left: -1em;
}

/* ========================== ratings meter ========================== */
meter {
	margin: 0.2em;
	width: 5em;
	height: 1em;

	background-image: url('/images/stars-out.png');
	background-size: 1em 1em;
}

*::-moz-meter-bar,
meter::-webkit-meter-bar {
	background-image: url('/images/stars-in.png');
	background-size: 1em 1em;
}

/* ========================== footer ========================== */
footer {
	background-color: var(--footercolor);
	padding: 1.5em 0;
	text-align: center;
}

footer nav ul {
	padding: 0;
	margin-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	list-style: none;
	font-weight: bolder;
	justify-content: center;
}

footer a {
	text-decoration: none;
	color: var(--color-text)
}

/* ========================== header ========================== */
header {
	height: 3em;
	display: flex;
	background-color: var(--headercolor);
	margin-bottom: 1em;
	align-items: center;
	justify-content: space-between;
}

header ul {
	list-style: none;
}

header ul:first {
	margin-right: 3em;
}

header>a>img {
	width: 12em;
	display: flex;
	justify-content: left;
}

/* buttons */
header>ul {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0;
	margin: 0;
}

header button img {
	width: 1.8em;
}

header button {
	background: none;
	border: 0;
	padding: 1em 0.5em;
}

/* ========================== add film knop ========================== */
/* dit is de ding die nu hidden is even */
header>ul li>section {
	display: none;
}

/* ========================== hamburger menu knop ========================== */
/* hamburger menu wisselen voor kruisje */
/* bron: https://codepen.io/shooft/pen/JjQLVeB */
header li:nth-of-type(2) button[aria-expanded="true"] img {
	content: url('/images/cross.png');
}

/* ========================== nav ========================== */

header nav {
	background-color: var(--headercolor);
	position: absolute;
	top: 3em;
	left: 0em;
	right: 0;
}

nav {
	padding: 0 2em;
	box-shadow: 0px 2em 2em var(--headercolor);
 } 


nav li:nth-of-type(1) {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 0.5em;
}


nav>ul>li>img {
	height: 2em;
	border-radius: 50%;
}

nav>ul>li>ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: start;
	align-items: start;
	gap: 0.5em;
	margin: 2em 0;
}

/* laatste ul */
nav > ul > li:last-child ul {
 display: flex;
 flex-direction: column;
}



/* nav {display: none;} */


/* ========================== zoek knop ========================== */
/* even hiudden meot dit nog in de js fixxen dan als je op knop drukt het komt */
header>ul>li:nth-of-type(3) ul {
	display: none;
}