h1 {
	font-family: tiempos, sans-serif;
	font-size: 1.4em;
}

/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/mask-image */
figure img {
	position: relative;
	mask-image: linear-gradient(var(--color-background) 8%, transparent);
	width: 100%;
	border: 0;
	border-radius: 0;
	z-index: 1;
}

/* bron: https://codepen.io/shooft/pen/gbaKMMe */
@media (prefers-color-scheme:dark) {
	figure img {
		content: url("../images/gits-background.png");
	}
}

@media (min-width: 768px) {
	figure img {
		padding: 0 6em;
	}
}

@media (min-width: 960px) {
	figure img {
		padding: 0 10em;
	}
}

@media (min-width: 1200px) {
	figure img {
		padding: 0 15em;
	}
}

@media (min-width: 1440px) {
	figure img {
		padding: 0 20em;
	}
}

/* ========================== eerste section / film titel etc ========================== */
main section:nth-of-type(1) {
	display: grid;
	gap: 1em;
}

main section:nth-of-type(1) h2 {
	border: 0;
}

main section:nth-of-type(1) button {
	border: 0;
	padding: 0.2em 0;
	background-color: var(--button);
	text-transform: uppercase;
	border-radius: var(--radius);
	letter-spacing: 0.2em;
}

main section:nth-of-type(1) img {
	width: 8em;
}

@media (min-width: 360px) {
	main section:nth-of-type(1) img {
		justify-self: end;
	}

	main section:nth-of-type(1)>* {
		align-self: center;
	}

	/* moedertj */
	main section:nth-of-type(1) {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(7, auto);
		gap: 1em;
	}

	main section:nth-of-type(1) h1 {
		grid-column: span 2;
	}

	main section:nth-of-type(1) img {
		grid-row: span 4 / span 4;
		grid-column-start: 3;
	}

	main section:nth-of-type(1) h2 {
		grid-column: span 2;
		grid-row-start: 2;
	}

	main section:nth-of-type(1) p:nth-of-type(1) {
		grid-column: span 2;
		grid-row-start: 3;
	}

	main section:nth-of-type(1) a {
		grid-column: span 2;
		grid-row-start: 4;
	}

	main section:nth-of-type(1) button {
		grid-row-start: 5;
	}

	main section:nth-of-type(1) p:nth-of-type(2) {
		grid-row-start: 5;
	}

	main section:nth-of-type(1) h3 {
		grid-column: span 3 / span 3;
		grid-row-start: 6;
	}

	main section:nth-of-type(1) p:nth-of-type(3) {
		grid-column: span 3 / span 3;
		grid-row-start: 7;
	}
}

/*  trailer dialog  */
dialog {
	position: relative;
	padding-top: 2.5em;
	width: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0;
	border-radius: var(--radius);
	background-color: var(--dialog);
	cursor: pointer;
}

dialog::backdrop {
	background-color: #00000080;
	backdrop-filter: blur(4px);
}

dialog h2 {
	border: none;
	margin-left: 1em;
}

dialog button {
	color: var(--dialog-text);
	position: absolute;
	padding: 0.75em;
	top: 0;
	right: 0.5em;
	appearance: none;
	background: none;
	border: none;
	font-weight: 900;
}

/* bron: https://www.youtube.com/watch?v=2h9CqRlHzrc */
/* bron: https://youtu.be/0EEJM4S5w38 */
iframe {
	border: 0;
	width: 100%;
	aspect-ratio: 16 / 9;
}

/* ========================== section h2 en a naast elkaar en ul ========================== */
main section:nth-of-type(2),
main section:nth-of-type(3),
main section:nth-of-type(5),
main section:nth-of-type(6),
main section:nth-of-type(9) {
	display: grid;
	grid-template-columns: auto auto;
}

main section:nth-of-type(2) h2,
main section:nth-of-type(3) h2,
main section:nth-of-type(5) h2,
main section:nth-of-type(6) h2,
main section:nth-of-type(9) h2,
main section:nth-of-type(2)>a,
main section:nth-of-type(3)>a,
main section:nth-of-type(5)>a,
main section:nth-of-type(6)>a:first-of-type,
main section:nth-of-type(9)>a {
	border-bottom: 1px solid var(--underline);
	margin-bottom: 0;
}

main section:nth-of-type(2)>a,
main section:nth-of-type(3)>a,
main section:nth-of-type(5)>a,
main section:nth-of-type(6)>a:first-of-type,
main section:nth-of-type(9)>a {
	justify-content: end;
}

main section:nth-of-type(2) ul,
main section:nth-of-type(5) ul,
main section:nth-of-type(6) ul {
	grid-column: span 2;
	grid-row-start: 2;
}

/* ========================== 2: ratings ========================== */
/* button */
main section:nth-of-type(2) img {
	width: 1.5em;
	border-radius: var(--radiusprofiel);
}

main section:nth-of-type(2) button {
	background-color: var(--button);
	grid-column: span 2;
	grid-row-start: 3;
	display: flex;
	align-items: center;
	gap: 0.5em;
	border: 0;
	border-radius: var(--radius);
	padding: 0.4em;
}

main section:nth-of-type(2) button:active {
	color: #ffffff;
}

/* grafiek */
main section:nth-of-type(2) ul {
	margin: 0;
	padding: 1em;
	list-style-type: "";
	gap: 0.3em;
	width: 100%;
	display: flex;
	align-items: end;
	justify-content: center;
}

main section:nth-of-type(2) li {
	background-color: var(--button);
	color: var(--header-text);
	display: flex;
	width: 3em;
	border-radius: var(--radius) var(--radius) 0 0;
	justify-content: center;
	padding: 0.225em;
}

main section:nth-of-type(2) li:nth-of-type(1) {
	height: 1.5em;
}

main section:nth-of-type(2) li:nth-of-type(2) {
	height: 2em;
}

main section:nth-of-type(2) li:nth-of-type(3) {
	height: 3em;
}

main section:nth-of-type(2) li:nth-of-type(4) {
	height: 4em;
}

main section:nth-of-type(2) li:nth-of-type(5) {
	height: 5em;
}

/* ========================== 3: activity from friends ========================== */
main section:nth-of-type(3) img {
	width: 3em;
	border-radius: var(--radiusprofiel);
}

main section:nth-of-type(3) ul {
	margin-top: 1em;
	grid-column: span 2;
	grid-row-start: 2;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.5em;
	width: 100%;
}

main section:nth-of-type(3) li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ========================== 4: where to watch ========================== */
main section:nth-of-type(4) {
	padding: 0;
	color: var(--header-text);
	border-radius: var(--radius);
	border: 0.2em var(--button) solid;
	margin-bottom: 2em;
	max-width: 20em;
}


main section:nth-of-type(4) h2 {
	background: var(--button);
	padding: 1em;
	margin: 0;
	border: 0;
}

main section:nth-of-type(4) ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0.5em 1em;
	margin: 0;
}

main section:nth-of-type(4) li {
	display: flex;
	align-items: center;
	padding: 0.5em 0;
	border-bottom: 1px solid var(--button);
}

main section:nth-of-type(4) li:last-child {
	border-bottom: none;
}

main section:nth-of-type(4) li svg {
	margin-right: 0.5em;
}

/* ========================== 5: reviews from friends ========================== */
main section:nth-of-type(5) img {
	width: 3em;
	border-radius: var(--radiusprofiel);
}

main section:nth-of-type(5) button {
	color: var(--color-text);
	appearance: none;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	gap: 0.5em;
}

main section:nth-of-type(5) ul {
	margin-top: 1em;
	width: 100%;
	display: grid;
	gap: 1.5em;
}

@media (min-width: 768px) {
	main section:nth-of-type(5) ul {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		align-items: start;
	}
}

main section:nth-of-type(5) li {
	display: grid;
	grid-template-columns: auto auto 1fr;
	gap: 0.5rem;
	align-items: center;
	border-bottom: var(--underline) 0.01rem solid;
}

main section:nth-of-type(5) li p {
	grid-column: span 2;
	grid-column-start: 2;
	grid-row-start: 2;
	font-family: tiempos, sans-serif;
}

main section:nth-of-type(5) li button {
	grid-column: span 2;
	grid-column-start: 2;
	grid-row-start: 3;
	margin: 1rem 0;
}

/* ========================== 6: related films ========================== */
main section:nth-of-type(6) img {
	width: 6rem;
	margin-top: 0.5em;
}

/* ========================== 7: similar films ========================== */
main section:nth-of-type(7) img {
	width: 5rem;
}

/* ========================== 8: mentioned by ========================== */
main section:nth-of-type(8) img {
	width: 6em;
	border-radius: var(--radiusprofiel);
}

/* ========================== 9: popular lists ========================== */
main section:nth-of-type(9)>ul {
	margin-bottom: 2em;
	flex-direction: column;
}

main section:nth-of-type(9) p img {
	height: 1.5em;
	width: 1.5em;
	border-radius: var(--radiusprofiel);
}

main section:nth-of-type(9)>ul h3 {
	margin-bottom: 0.5em;
}

main section:nth-of-type(9)>ul>li ul {
	padding-right: 10%;
}

main section:nth-of-type(9)>ul>li a:nth-of-type(2),
main section:nth-of-type(9)>ul>li p {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

main section:nth-of-type(9)>ul>li ul:first-of-type {
	margin: 0.5em 0;
}

main section:nth-of-type(9)>ul>li ul>li:not(:first-child) {
	margin-left: -1.5em;
}

main section:nth-of-type(9) ul a:focus-visible {
	border-radius: var(--radius);
	outline-offset: -0.1em;
	outline-width: 0.3em;
}

@media (min-width:768px) {
	main section:nth-of-type(9)>ul>li ul li img {
		width: 10em;
	}
}

main section:nth-of-type(9)>ul>li ul li:nth-child(1) {
	z-index: 5;
}

main section:nth-of-type(9)>ul>li ul li:nth-child(2) {
	z-index: 4;
}

main section:nth-of-type(9)>ul>li ul li:nth-child(3) {
	z-index: 3;
}

main section:nth-of-type(9)>ul>li ul li:nth-child(4) {
	z-index: 2;
}

main section:nth-of-type(9)>ul>li ul li:nth-child(5) {
	z-index: 1;
}
