main h1 {
    font-size: 1.4em;
    padding: 1em;
    text-align: center;
    font-weight: 100;
}

/* ========================== 6 posters responsive ========================== */
/* bron: https://stackoverflow.com/questions/71281559/flexbox-directions-and-multiple-images-within */
main section:nth-of-type(1) ul,
main section:nth-of-type(2) ul {
    display: grid;
}

@media (min-width: 260px) {

    main section:nth-of-type(1) ul,
    main section:nth-of-type(2) ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 360px) {

    main section:nth-of-type(1) ul,
    main section:nth-of-type(2) ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {

    main section:nth-of-type(1) ul,
    main section:nth-of-type(2) ul {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 960px) {

    main section:nth-of-type(1) ul,
    main section:nth-of-type(2) ul {
        grid-template-columns: repeat(6, 1fr);
    }
}

main section:nth-of-type(1) li img:first-of-type:not(p img) {
    border-radius: var(--radius) var(--radius) 0 0;
}

main section:nth-of-type(1) ul li p {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    padding: 0.3em;
    gap: 0.5em;
}

p img {
    height: 1.5em;
    width: 1.5em;
    border-radius: var(--radiusprofiel);
    display: flex;
}

main section:nth-of-type(1) li>a {
    display: block;
    background-color: var(--background);
    border-radius: var(--radius);
    border: var(--border) 0.01em solid;
}

/* ========================== main sections ========================== */
/* sections h2 en a naast elkaar */
main section:nth-of-type(1),
main section:nth-of-type(2),
main section:nth-of-type(4),
main section:nth-of-type(5),
main section:nth-of-type(6) {
    display: grid;
    grid-template-columns: 1fr auto;
}

main section:nth-of-type(1) h2,
main section:nth-of-type(2) h2,
main section:nth-of-type(4) h2,
main section:nth-of-type(5)>h2,
main section:nth-of-type(6)>h2,
main section:nth-of-type(1)>a,
main section:nth-of-type(2)>a,
main section:nth-of-type(4)>a,
main section:nth-of-type(5)>a,
main section:nth-of-type(6)>a {
    border-bottom: 1px solid var(--underline);
    margin: 0;
}

main section:nth-of-type(1) ul,
main section:nth-of-type(2) ul,
main section:nth-of-type(4) ul,
main section:nth-of-type(5)>ul,
main section:nth-of-type(6) ul {
    margin-top: 0.5em;
    grid-column: 1 / span 2;
}

/* ========================== 3: latest news ========================== */
main section:nth-of-type(3) img,
main section:nth-of-type(3) h3 {
    margin-bottom: 0.3em;
}

main section:nth-of-type(3) h3 {
    color: var(--h1link);
}

main section:nth-of-type(3) p {
    width: 95%;
}

main section:nth-of-type(3) p>a {
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 0.5em;
}

main section:nth-of-type(3) article {
    margin-top: 1em;
}

@media (min-width:768px) {
    main section:nth-of-type(3) article {
        background-color: var(--article);
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        gap: 1em;
        border-radius: var(--radius);
    }

    main section:nth-of-type(3) img,
    main section:nth-of-type(3) h3 {
        margin-bottom: 0;
    }

    main section:nth-of-type(3) h3 {
        align-content: end;
    }

    main section:nth-of-type(3) img {
        grid-row: span 2;
        border: 0;
        border-radius: var(--radius) 0 0 var(--radius);
    }

    main section:nth-of-type(3) p {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}

/* ========================== 4: popular with friends  ========================== */
main section:nth-of-type(4)>ul {
    display: grid;
    grid-template-columns: 1fr
}

@media (min-width: 960px) {
    main section:nth-of-type(4)>ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
        align-items: start;
    }
}

main section:nth-of-type(4) li>a:nth-of-type(1) img {
    width: 6em;
}

main section:nth-of-type(4) button {
    appearance: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

main section:nth-of-type(4) li>a:nth-of-type(2) p {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

/* grid */
main section:nth-of-type(4) li {
    border-bottom: var(--underline) 0.01em solid;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 1.5em;
    padding: 1em 0;
}

main section:nth-of-type(4) li>a:nth-of-type(1) {
    grid-row: span 3 / span 3;
}

main section:nth-of-type(4) li>a:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
}

main section:nth-of-type(4) li>a:nth-of-type(3) {
    gap: 0.5em;
    grid-column-start: 2;
    grid-row-start: 2;
}

main section:nth-of-type(4) meter {
    grid-column-start: 2;
    grid-row-start: 3;
}

main section:nth-of-type(4) p {
    grid-column: span 2;
    grid-row-start: 4;
    font-family: tiempos, sans-serif;
}

main section:nth-of-type(4) button {
    grid-column: span 2;
    grid-row-start: 5;
    font-weight: 800;
    color: inherit;
}

/* ========================== 5: popular lists  ========================== */
main section:nth-of-type(5)>ul {
    margin-bottom: 2em;
    flex-direction: column;
}

main section:nth-of-type(5)>ul h3 {
    margin-bottom: 0.5em;
}

main section:nth-of-type(5)>ul>li ul {
    padding-right: 10%;
}

main section:nth-of-type(5)>ul>li a:nth-of-type(2),
main section:nth-of-type(5)>ul>li p {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

main section:nth-of-type(5)>ul>li ul:first-of-type {
    margin: 0.5em 0;
}

main section:nth-of-type(5)>ul>li ul>li:not(:first-child) {
    margin-left: -1.5em;
}

main section:nth-of-type(5)>ul>li ul a:focus {
    outline-color: var(--focuscolor);
    outline-offset: -0.2em;
    border-radius: var(--radius);
    outline-style: solid;
    outline-width: 0.3em;
}

@media (min-width:768px) {
    main section:nth-of-type(5)>ul>li ul li img {
        width: 10em;
    }
}

main section:nth-of-type(5)>ul>li ul li:nth-child(1) {
    z-index: 5;
}

main section:nth-of-type(5)>ul>li ul li:nth-child(2) {
    z-index: 4;
}

main section:nth-of-type(5)>ul>li ul li:nth-child(3) {
    z-index: 3;
}

main section:nth-of-type(5)>ul>li ul li:nth-child(4) {
    z-index: 2;
}

main section:nth-of-type(5)>ul>li ul li:nth-child(5) {
    z-index: 1;
}

/* ========================== 6: recent showdowns  ========================== */
main section:nth-of-type(6) ul {
    position: relative;
    display: grid;
    gap: 2em;
}

@media(min-width:768px) {
    main section:nth-of-type(6) ul {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        align-items: start;
        gap: 1em;
    }
}

@media(min-width:960px) {
    main section:nth-of-type(6) ul {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
        align-items: start;
        gap: 1em;
    }
}

main section:nth-of-type(6) h3 {
    margin-bottom: 0.2em;
}

main section:nth-of-type(6) img {
    margin-bottom: 0.5em;
}

main section:nth-of-type(6) p:nth-of-type(2) {
    text-transform: uppercase;
    font-size: 0.8em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    padding: 0.3em;
    border-radius: var(--radius);
    color: #ffffff;
    background-color: var(--green);
}

/* ========================== speciale states ========================== */
main section:nth-of-type(1) ul>li>a:hover,
main section:nth-of-type(2) ul>li>a:hover,
main section:nth-of-type(5) ul>li>a:hover,
main section:nth-of-type(1) ul>li>a:active,
main section:nth-of-type(2) ul>li>a:active,
main section:nth-of-type(5) ul>li>a:active,
main section:nth-of-type(1) ul>li>a:focus-visible,
main section:nth-of-type(2) ul>li>a:focus-visible,
main section:nth-of-type(5) ul>li>a:focus-visible {
    padding: 0.1em;
}


main section:nth-of-type(1) ul>li>a:focus-visible,
main section:nth-of-type(2) ul>li>a:focus-visible,
main section:nth-of-type(5) ul>li>a:focus-visible {
    outline-offset: -0.4em;
}