/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #ACBDC8;
	--color-background: #1c2329;
	--headercolor: #14181c;
	--footercolor: #2C3440;
}

/****************/
/* JOUW STYLING */
/****************/
@font-face {
	font-family: graphik;
	src: url(../fonts/Graphik-Regular-Web.woff);
	font-weight: 400;
}

body {
	font-family: graphik, sans-serif;
	background-color: #1c2329;
	color: var(--color-text);
	letter-spacing: .06em;
}

.filmpagina h1 {
	color: #fff;
}

.filmpagina img:first-of-type {
color: #fff; /*weghalen*/
}

header {
	background-color: var(--headercolor);
	color: #fff;
	/* overflow: hidden; */
	margin-bottom: 1em;
}

.logo {
width: 12em;
display: flex;
justify-content: left;
}

main {
	margin: .8em;
}

main h1 {
	font-size: 1.4em;
	margin: 0 0 1rem;
	text-align: center;
}

h1,
h2 {
	font-weight: 100;
}

h1 a {
	color: #fff;
	text-decoration-color: #ACBDC8;
}

h2 {
	display: block;
	width: 100%;
	margin: 0.5rem 0;
	font-size: 0.8em;
	text-transform: uppercase;
	border-bottom: 1px solid #456;
	padding-bottom: .2em;
}

img {
	display: block;
	height: 100%;
	width: 100%;
}

main>section {
	margin-bottom: 2.5rem;
}

section {
	margin: 0 0 2em 0;
}

footer {
	background-color: var(--footercolor);
	padding: 1.5em 0;
}

div {
	display: flex;
	margin-bottom: .4em;
}

div img:not(:last-of-type) {
	margin-right: .4em;
}

div img, .review img {
	border-radius: .3em;
	border: .02em solid #fff;
}

section img:first-of-type {
	height: fit-content;
}

.review div {
	display: flex;
	flex-direction: column;
}

.review img:first-of-type {
 width: 30%;
}

.review div img:first-of-type {
	display: flex;
	width: 2.5em;
	border-radius: 50%;
}